$colour1: #3b2f2f;
$colour2: #f8f8f8;
$colour3: #128482;
$colour4: #d0491e;

* {
  box-sizing: border-box;
  color: $colour1;
  font-family: sans-serif;
  list-style: none;
  margin: 0;
  text-decoration: none;
}

.app {
  background-color: $colour2;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  .routes {
    padding: 6px 2%;
  }
}

.header {
  background-color: $colour3;
  display: flex;
  justify-content: space-between;
  padding: 6px 2%;
  .header-title-box {
    .title {
      color: $colour2;
      font-size: 35px;
    }
  }
  .header-links {
    display: flex;
    justify-content: space-between;
    width: 90px;
    .header-link {
      * {
        color: $colour2;
        font-size: 35px;

        transition: 0.3s color ease-in-out;
      }
    }
    .header-link:hover {
      * {
        color: $colour4;
      }
    }
  }
}

.page {
  .page-title {
    font-size: 28px;
  }
}

.form {
  max-width: 600px;
  .input,
  .button {
    border-radius: 6px;
    font-size: 21px;
    height: 28px;
    text-align: center;
    width: 100%;
  }
  .input {
    border: 1px solid $colour1;
    margin: 2px 0;
  }
  .button {
    background-color: $colour3;
    border: none;
    color: $colour2;
    cursor: pointer;
    margin-top: 14px;
  }
}

.target-grid {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  .target-card {
    margin: 3px;
    width: 210px;
    .target-card-icon {
      background-color: $colour4;
      border: 2px solid $colour3;
      border-radius: 50%;
      cursor: pointer;
      font-size: 42px;
      height: 60px;
      margin-left: 50%;
      padding-top: 7px;
      text-align: center;
      transform: translateX(-50%);
      width: 60px;
      * {
        color: $colour2;
      }
    }
    .target-card-text {
      background-color: $colour2;
      border: 2px solid $colour3;
      border-radius: 14px;
      margin-top: -30px;
      max-height: 140px;
      min-height: 140px;
      padding-top: 30px;
      text-align: center;
    }
  }
}
